.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 32px;
}

.search-input {
  padding: 8px 16px;
  outline: none;
  border: 1px solid #808080;
  border-radius: 4px;
}

.button {
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  background-color: #4e75ff;
  color: #fff;
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery-item {
  position: relative;
  width: calc((100% - 24px * 2) / 3);
  height: 200px;
  border: 1px solid #808080;
}

.gallery-image-stats {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  padding-top: 4px;
  padding-bottom: 4px;
}

.gallery-image-stats-list {
  display: flex;
  justify-content: space-around;
}

.gallery-image-stats-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gallery-image-stats-title {
  font-weight: 600;
}
